/* Mobile First Styles*/
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(49, 55, 59);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}

nav ul li {
    padding: 1em 2em;
}

.no-hover {
    color: white;
}

nav ul li:hover, nav ul li a:hover {
    background-color: rgb(65, 73, 78)
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}

.exit-btn:hover {
    background-color: rgb(49, 55, 59);
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, .subhead {
    position: relative;
    z-index: 3;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

.hide-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 200px;
}

.menu {
    width: 25px;
    margin-top: 50%;
}

.hero-img {
    width: 300px;
    margin: 80px 0 30px 0;
}

.subhead {
    font-size: 1.1em;
}

.green-container {
    width: 100%;
    background-color: #8dbe0d;
    color: #fff;
    margin-top: 15%;
    padding: 4em 0 2em;
}

.green-container ul li {
    margin-bottom: 3em;
}

.green-container ul li p {
    padding: 0 .5em;
}

.green-container img {
    width: 14%;
}

.green-container ul li:nth-child(1) img {
    width: 18%;
}

.green-container ul li:nth-child(3) img {
    width: 20%;
}

.gray-container {
    background-color: #F6F6F6;
    padding: 4em 0 2em;
    margin-top: -3%;
}

.gray-container ul li:first-child {
    margin-bottom: 2em;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-weight: bold;
    color: #2e2e2e;
}

h2 {
    margin-top: 7%;
}

button {
    width: calc(100% - 1em);
    display: block;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    padding: .5em;
    font-size: 1.5em;
    margin: 3% auto 7%;
    position: relative;
    z-index: 4;
    transition: background-color 0.2s ease-in;
}

button.get-started {
    background-color: #8dbe0d;
}

button.get-started:hover {
    background-color: #7fad0b;
}

button.cta {
    background-color: rgb(252, 164, 0);
    border: none;
}

button.cta:hover {
    background-color: rgb(232, 153, 5);
}

.disclaimer {
    text-align: left;
    font-size: 1em;
}

.footer-container {
    width: 100%;
    background: #3D444A;
    color: #fff;
    padding: 3em 0;
}

ul.social-links {
    margin: 10px auto 10px;
}

ul.footer-links {
    margin: 0 auto; 
}

ul.social-links li, ul.footer-links li {
    display: inline-block;
}

ul.social-links li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 0 .25em;
}

ul.social-links li a:hover {
    color: rgb(65, 73, 78);
}

ul.social-links li a img {
    width: 30px;
}

ul.footer-links li a {
    color: #9D9D9D;
    font-size: .8em;
}

/* Desktop View Styles */
@media only screen and (min-width: 650px) {

    h1 {
        font-size: 3em;
        margin: 0;
    }

    .subhead {
        font-size: 1.4em;
        margin-bottom: 12%;
    }

    .hero-img {
        width: 350px;
    }

    .green-container {
        margin: 0;
        padding: 2em 0 1em;
    }

    .green-container ul {
        display: flex;
        margin-top: -1em;
        align-items: flex-start;
    }

    .green-container ul li {
        width: 100%;
        padding: 0 10px 0 10px;
        flex-grow: 1;
    }

    .green-container ul li p{
        text-align: left;
    }

    .green-container img {
        width: 20%;
    }

    .green-container ul li:nth-child(1) img {
        width: 25%;
        margin-bottom: -10px;
    }

    .green-container ul li:nth-child(3) img {
        width: 25%;
        height: auto;
        margin-bottom: -10px;
    }

    nav ul {
        width: 40%;
    }
}

@media only screen and (min-width: 875px) {
    .subhead {
        margin-bottom: 15%;
    }

    .green-container ul {
        margin: 0 0 4%;
    }

    .gray-container ul {
        margin: 4% 0 0;
        display: flex;
    }
}

@media only screen and (min-width: 1024px) {
    header {
        align-items: flex-start;
    }

    header li {
        font-size: .99em;
    }

    .subhead {
        margin-bottom: 7%;
    }

    button {
        width: 50%;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .show-desktop {
        display: block;
        margin: 0 auto 8% auto;
    }

    .hide-desktop {
        display: none;
    }

    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
        white-space: nowrap;
    }

    nav ul li {
        display: inline-block;
        cursor: pointer;
    }

    nav ul li:hover {
        background-color: inherit;
    }

    nav ul li a {
        color: black;
        background-color: inherit;
        text-align: right;
        padding-bottom: .5em;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.1s ease;
        position: relative;
    }

    nav ul li a:hover {
        background-color: inherit;
    }

    nav ul li a:hover:not(.no-hover) {
        background-color: inherit;
        border-bottom: 3px solid #8dbe0d;;
    }

    .no-hover {
        color: black;
    }

    .dropdown-active {
        display: block;
    }

    ul.dropdown li {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    ul.dropdown li a {
        text-align: left;
    }

    ul.dropdown {
        height: auto;
        padding: 1em 0em .5em 0em;
        position: absolute;
        top: 60px;
        will-change: transform;
        transition-duration: 0.25;
        background: rgb(245, 245, 245);
        border-radius: 3px;
        box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),
                    0 30px 60px -30px rgba(0,0,0,.3),
                    0 -18px 60px -10px rgba(0,0,0,.025);
        transform-origin: 0 0;
    }

    .hero-img {
        width: 450px;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .scroll {
        font-size: 4em;
        color: rgb(252, 164, 0);
        border-radius: 50%;
        animation: move 1s infinite alternate;
        z-index: 3;
    }

    @keyframes move {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY(20px);
        }
    }
}

@media only screen and (min-width: 1600px) {

    .container {
        width: 70%;
    }

    .green-container {
        padding: 7em 0 2em;
    }

    .green-container ul li p, blockquote {
        font-size: 1.3em;
    }

    .gray-container {
        padding: 6em 0 4em;
    }

    h2 {
        margin-top: 4em;
    }

    .green-container img {
        width: 25%;
    }

    .green-container ul li:nth-child(1) img {
        width: 30%;
        margin-bottom: -15px;
    }

    .green-container ul li:nth-child(3) img {
        width: 35%;
        margin-bottom: -35px;
    }
}